<nav class="site-nav py-4 bg-white">
  <div class="container-lg px-4">
    <div class="d-flex flex-justify-between flex-items-baseline">
      <div>
        {% unless site.logo_file == nil %}<img src="{{ site.logo_file | absolute_url }}" alt="{{ site.title }}" alt="{{ site.title }}" class="site-logo mr-2">{% endunless %}
        <a class="heading-beta no-underline" href="{{ site.url }}">{{ site.title }}</a>
      </div>
      <ol class="list-style-none">
        {% assign pages_list = site.pages | sort:"url" %}
          {% for node in pages_list %}
            {% if node.title != null %}
              {% if node.nav == true %}
                <li class="d-inline-block{% unless forloop.last %} mr-3{% endunless %}">
                  <a class="d-block text-heading-color site-nav-item{% if page.url == node.url | absolute_url %} active{% endif %}" href="{{ node.url }}">
                    {{ node.title }}
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
      </ol>
    </div>
  </div>
</nav>
