pre {
  font-size: inherit;
}

figure {
  margin: 0;
}

a {
  color: $link-color;
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient(rgba($royal-blue, 0.15) 0%, rgba($royal-blue, 0.15) 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 2px;

  &:hover {
    background-image: linear-gradient(rgba($royal-blue, 0.25) 0%, rgba($royal-blue, 0.25) 100%);
  }
}
