.btn {
  background-color: #ddd;
  color: $heading-ink;
  text-decoration: none;
  background-image: linear-gradient(#f7f7f7, #e6e6e6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.12), inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  line-height: 1.5;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  border-width: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  margin: 0;
  vertical-align: baseline;
  appearance: none;
  text-decoration: none;
  cursor: pointer;


  &:focus {
    text-decoration: none;
    border-color: #51a7e8; // Blue glow for focus
    outline: none;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5); // Blue glow for focus
  }

  &:focus:hover,
  &.selected:focus {
    border-color: #51a7e8; // Blue glow for focus
  }

  &:hover,
  &.zeroclipboard-is-hover {
    background-image: linear-gradient(#f1f1f1, #ddd);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    text-decoration: none;
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: #dcdcdc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  &.selected:hover {
    background-color: darken(#dcdcdc, 5%);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: rgba(102, 102, 102, 0.5);
      cursor: default;
      background-color: rgba(229, 229, 229, 0.5);
      background-image: none;
      box-shadow: none;
    }
  }
}

.btn-blue {
  background-image: linear-gradient(lighten($royal-blue, 5%), darken($royal-blue, 5%));
  color: $white;

  &:hover,
  &.zeroclipboard-is-hover {
    background-image: linear-gradient((lighten($royal-blue, 3%), darken($royal-blue, 5%)));
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: darken($royal-blue, 5%);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  &.selected:hover {
    background-color: darken($royal-blue, 10%);
  }
}

.link-download {
  position: relative;
  padding-left: $spacer-6;
  background-image: url("../images/icon-download.png");
  background-repeat: no-repeat;
  background-size: $spacer-5 auto;
  background-position: left center;
  padding-top: $spacer-3;
  padding-bottom: $spacer-3;

  &:hover {
    text-decoration: none;
    &::after {
      position: absolute;
      content: "\2193";
      left: $spacer-5;
      top: 0.8em;
    }
  }
}

.link-download-form {
  background-image: url("../images/icon-download-form.png");
}
