html {
  font-size: $body-font-family;
  line-height: $body-line-height;
}

body {
  font-family: $body-font-family;
  font-weight: 400;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $body-font-color;
}

h1, .heading-alpha,
h2, .heading-beta,
h3, .heading-gamma,
h4, .heading-delta,
h5, .heading-epsilon
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color: $heading-font-color;
}

h1, .heading-alpha {
  font-weight: 300;
  font-size: 48px;
}

h2, .heading-beta {
  font-weight: 300;
  font-size: 36px;
}

h3, .heading-gamma {
  font-size: 24px;
  font-weight: 300;
}

h4, .heading-delta {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}

h5, .heading-epsilon {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: 600;
  color: $heading-font-color;
}

.display-alpha {
  font-family: $display-font-family;
  text-transform: uppercase;
  font-size: 54px;
  line-height: $heading-line-height;
}

ul,
ol,
dl {

}

p {

}

.text-intro {
  font-family: $heading-font-family;
  font-weight: 300;
  font-size: 21px;
  line-height: $body-line-height;
}

small {

}
