// Base styles
html {
  font-size: $body-font-family;
  line-height: $body-line-height;
}

body {
  font-family: $body-font-family;
  font-weight: 400;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $body-font-color;
}

// Headings
h1, .heading-alpha, .display-alpha,
h2, .heading-beta, .display-beta,
h3, .heading-gamma,
h4, .heading-delta,
h5, .heading-epsilon
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color: $heading-font-color;
  margin-bottom: .2em;
}

h1, .heading-alpha {
  font-weight: 300;
  font-size: 48px;
}

h2, .heading-beta {
  font-weight: 300;
  font-size: 36px;
}

h3, .heading-gamma {
  font-size: 24px;
  font-weight: 300;
}

h4, .heading-delta {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}

h5, .heading-epsilon {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: 600;
  color: $heading-font-color;
}

.display-alpha {
  font-family: $display-font-family;
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 300;
  line-height: $heading-line-height;
}

.display-beta {
  font-family: $display-font-family;
  font-size: 28px;
  font-weight: 300;
  line-height: $heading-line-height;
}

// Lists
ul,
ol,
dl {
  li {
    margin-bottom: .5em;
  }
}

.ol-styled {
  position: relative;
  list-style: none;
  counter-reset: ol-counter;

  li {

    &:before {
      content: counter(ol-counter);
      counter-increment: ol-counter;
      opacity: 0.6;
      padding-right: 0.5em;

      @include breakpoint(md) {
        position: absolute;
        left: -1.25em;
      }
    }
  }
}

.text-intro {
  font-family: $heading-font-family;
  font-weight: 300;
  font-size: 21px;
  line-height: $body-line-height;
}

small {

}
