// Base styles
html {
  font-size: $body-font-family;
  line-height: $body-line-height;
}

body {
  font-family: $body-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: $body-line-height;
  color: $body-font-color;

  @include breakpoint(md) {
    font-size: $body-font-size;
  }
}

// Headings
h1, .heading-alpha, .display-alpha,
h2, .heading-beta, .display-beta,
h3, .heading-gamma,
h4, .heading-delta,
h5, .heading-epsilon
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color: $heading-font-color;
  margin-bottom: .2em;
}

h1, .heading-alpha {
  font-family: $display-font-family;
  font-weight: 300;
  font-size: 48px;
}

h2, .heading-beta {
  font-weight: 300;
  font-size: 28px;

  @include breakpoint(md) {
    font-size: 36px;
  }
}

h3, .heading-gamma {
  font-size: 18px;
  font-weight: 300;

  @include breakpoint(md) {
    font-size: 24px;
  }
}

h4, .heading-delta {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}

h5, .heading-epsilon {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: 600;
  color: $heading-font-color;
}

.display-alpha {
  font-family: $display-font-family;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: 34px;
  font-weight: 300;
  line-height: $heading-line-height;

  @include breakpoint(md) {
    font-size: 54px;
  }
}

.display-beta {
  font-family: $display-font-family;
  font-size: 28px;
  font-weight: 300;
  line-height: $heading-line-height;
}

// Lists
ul,
ol,
dl {
  li {
    margin-bottom: .5em;
  }
}

.ol-styled {
  position: relative;
  list-style: none;
  counter-reset: ol-counter;

  li {

    &:before {
      content: counter(ol-counter);
      counter-increment: ol-counter;
      opacity: 0.6;
      padding-right: 0.5em;

      @include breakpoint(md) {
        position: absolute;
        left: -1.25em;
      }
    }
  }
}

.text-intro {
  font-family: $heading-font-family;
  font-weight: 300;
  font-size: 18px;
  line-height: $body-line-height;

  @include breakpoint(md) {
    font-size: 21px;
  }
}

.list-checklist {
  list-style: none;

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -1.25em;
      width: 0.75em;
      height: 0.75em;
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.29 15"><path d="M19.29,2.37L6.43,15,0,8.68,2.41,6.32l4,3.95L16.88,0Z" fill="#{ $gray }"/></svg>');
    }
  }
}
