$body-ink: #575757;
$heading-ink: #372F29;
$royal-blue: #41427C;

$body-font-family: "Lato", sans-serif;
$heading-font-family: "Lora", serif;
$display-font-family: $body-font-family;


$body-font-size: 16px;
$body-line-height: 1.5;
$heading-line-height: 1.2;

$body-font-color: $body-ink;
$heading-font-color: $heading-ink;
