// stylelint-disable selector-no-type

pre {
  font-size: inherit;
}

figure {
  margin: 0;
}

a {
  color: $link-color;
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient(rgba($royal-blue, 0.15) 0%, rgba($royal-blue, 0.15) 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 2px;

  &:hover {
    background-image: linear-gradient(rgba($royal-blue, 0.25) 0%, rgba($royal-blue, 0.25) 100%);
  }
}

hr {
  margin: $spacer-5 0;
  border-bottom: 1px solid $border-color;
}

table {
  display: block;
  width: 100%;
  overflow: scroll;

  @include breakpoint(md) {
    display: table;
    width: auto;
  }

  td,
  th {
    padding-top: $spacer-2;
    padding-right: $spacer-3;
    padding-bottom: $spacer-2;
    padding-left: $spacer-3;
    border-right: $border;
    border-left: $border;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  th {
    background-color: $bg-gray;
  }
}
