.form-input {
  box-sizing: border-box;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.4em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  color: $body-ink;
  vertical-align: baseline;
  border-width: 0;
  border-radius: $border-radius;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);

  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 5px rgba($royal-blue, 0.25), inset 1px 1px 0 rgba($royal-blue, 0.4), inset -1px -1px 0 rgba($royal-blue, 0.4); // Blue glow for focus
  }

  &:focus:hover,
  &.selected:focus {
    border-color: #51a7e8; // Blue glow for focus
  }

  // stylelint-disable selector-pseudo-element-no-unknown
  &::moz-focus-inner {
    padding: 0;
    margin-top: -2px;
    margin-bottom: -2px;
    border: 0;
  }
  // stylelint-enable selector-pseudo-element-no-unknown
}
