.site-nav {
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08);
}

.site-nav-items {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: $spacer-4;
  background-color: $white;

  &.open {
    right: 0;
  }

  @include breakpoint(md) {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }
}

.site-nav-item {
  display: block;
  font-size: 18px;

  @include breakpoint(md) {
    display: inline-block;
    font-size: inherit;
  }
}

.site-nav-trigger {
  z-index: 101;

  @include breakpoint(md) {
    display: none;
  }

  &.open {
    position: fixed;
    right: $spacer-4;
  }
}

.site-logo {
  width: auto;
  max-height: 21px;

  @include breakpoint(md) {
    max-height: 28px;
  }
}

.side-nav {
  padding-top: $spacer-3;
  margin-bottom: $spacer-4;
}

.side-nav-item {
  position: relative;
  display: none;
  border-top: $border;
  border-bottom: $border;

  @include breakpoint(md) {
    display: block;
    border-top: 0;
  }

  .open & {
    display: block !important;
    border-top: 0;
  }

  &:first-of-type {
    border-top: $border;
  }

  &.active {
    z-index: 1;
    display: block;
    border-right: 2px solid $royal-blue;

    // stylelint-disable string-quotes
    &::after {
      position: absolute;
      top: 50%;
      right: $spacer-3;
      z-index: -1;
      margin-top: -8px;
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16" version="1.1" width="10" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6z"></path></svg>');
      // stylelint-enable string-quotes
    }

    @include breakpoint(md) {
      &::after {
        content: "";
      }
    }

    .open & {
      &::after {
        margin-top: -13px;
        transform: rotate(180deg);
      }
    }
  }
}

.side-nav-link {
  &.active {
    color: $heading-ink;
  }
}
