// Color / opacity utils

.bg-darkest {
  background-color: $darkest-bg !important;
}

.bg-royal-blue {
  background-color: $royal-blue !important;
}

.text-body-color {
  color: $body-font-color !important;
}

.text-heading-color {
  color: $heading-font-color !important;
}

.dim {
  opacity: 0.8 !important;
}

.border-royal-blue {
  border-color: $royal-blue !important;
}

// Type utils

.text-sans {
  font-family: $body-font-family !important;
}

.text-serif {
  font-family: $heading-font-family !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-small {
  font-size: 12px !important;

  @include breakpoint(md) {
    font-size: 14px !important;
  }
}

.text-regular {
  font-size: 14px;

  @include breakpoint(md) {
    font-size: $body-font-size;
  }
}

.text-large {
  font-size: 16px;

  @include breakpoint(md) {
    font-size: 20px;
  }
}
